<nav style="display: flex; flex-direction: row; border: 1px solid gray; margin: 10px 10px 10px 0">
    <a href="#">Receipe Book</a>
    <ul style="display: flex; flex-direction: row; list-style: none;">
        <li style="margin-left: 30px;" (click)="onSelect('Receipes')"><a href="#">Receipes</a></li>
        <li style="margin-left: 30px;" (click)="onSelect('Shopping List')"><a href="#">Shopping List</a></li>
    </ul>
    <div style="display: flex; flex-direction: row; justify-content:flex-end; width: 50%;">
    <a href="#">Manage</a>
</div>
</nav>